{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "promise"],
  "extends": [
    "eslint:recommended",
    "plugin:promise/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:security/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "ecmaVersion": 2016,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"]
  },
  "env": {
    "browser": true,
    "es2021": true
  }
}
